
# Spring profile (dev | prod)
SPRING_PROFILES_ACTIVE=

# Database (Supabase / PostgreSQL)
SUPERBASE_URL_DEV=
SUPERBASE_USERNAME_DEV=
SUPERBASE_PASSWORD_DEV=

# Clerk
CLERK_JWKS_URL=
CLERK_ISSUER=
CLERK_SECRET_KEY=
CLERK_AUDIENCE=

# CORS
CORS_ALLOWED_ORIGINS=

# Cloudinary
CLUODANARY_CLOUD_NAME=
CLUODANARY_API_KEY=
CLUODANARY_SECRET_KEY=

# Redis Cache (Redis Cloud)
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
